body{
    background: url("images/fondo_logo.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}






.sedan-sc-regular{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}



.inicio{
    margin-top: 20%;
    text-align: center;
    font-family: 'Sedan SC';
    font-size: 1200%;
    margin-bottom: 300px;



}

.seccion1{
    background-color: rgba(255, 255, 255, 0.5);
    width: 95%;
    min-height: 25vh;
    margin: 3%;
    padding: 2%;
    overflow: hidden;
    border-radius: 10px;
}

.miniseccion{
    align-content: center;
    width: 65%;
    min-height: 25vh;
    background-color: rgba(140, 180, 0, 0.7);
    margin: 1%;
    padding: 1%;
    overflow: hidden;
    border-radius: 10px;

}

.miniseccion-contenido{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    
}

.miniseccion-imagen{

    margin-bottom: 10px;
    width: 50px;
}

.carrousel{
    border-radius: 10px;
    margin: 5%;
    align-items:center;
    width: 65%;
}

.carrousel-img{
    border-radius: 10px;
    width: 70%;
}

.titulo{
    margin-top: 10%;
    text-align: center;
    font-family: 'Sedan SC';
    font-size: 900%;
    margin-bottom: 300px; 
}

.equipo{
    margin: 10%;
    width: 70%;
    hace 
    
}


.footer{
    
    background-color: rgba(93, 116, 8, 0.9);
    margin: 0%;
    margin-top: 500px;
    width: 100%;
    min-height: 300px;
    text-align: center;
    padding: 2%;
}