body{
    background: url(https://media.viajando.travel/p/1109c948cd4cac4e1b2accff76f3dc49/adjuntos/236/imagenes/000/529/0000529129/1200x0/smart/el-cerro-champaqui-es-el-mas-alto-cordoba-y-alberga-un-bosque-encantado-que-esconde-una-especie-arbol-peligro-extincion.jpg);
    background-repeat: no-repeat;
    height: 50px;
    background-position: center;
    background-size: cover;
}






.sedan-sc-regular{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}



.inicio{
    margin-top: 150px;
    text-align: center;
    font-family: 'Sedan SC';
    font-size: 200px;



}
